* {
    font-family: 'Playfair Display SC', serif;
}

::placeholder {
    color: #A7D8D5;
    opacity: 1;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    border-radius: 10px;
}

body {
    margin: 0;
    /* background-color: #F0F0F0; */
    background: radial-gradient(ellipse at center, #192d38 0, #211f2f 100%);
}    

.dropbtn {
    float: left;
    display: block;
    color: #A7D8D5;
    background: #417E77;
    text-align: center;
    padding: 5px 7px;
    width: 140px;
    border: none;
    margin: 11px 3px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    margin: 42px 3px;
}

.dropdown:hover .dropbtn {
    background: #58a199;
    color: #6ccecb;
}

.logo {
    overflow: hidden;
    background-color: #004A4D;
    display: flex;
    justify-content: center;
}

.logo a[id=botton] {
    float: left;
    display: block;
    color: #A7D8D5;
    background: #417E77;
    text-align: center;
    padding: 5px 7px;
    margin: 11px 3px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
}

.logo a:hover {
    background: #58a199;
    color: #6ccecb;
}



.navbar {
    overflow: hidden;
    background-color: #005659;
    display: flex;
    justify-content: center;
    /* position: fixed; */
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #A7D8D5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3vmin;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #00686C;
    ;
    color: #A7D8D5;
}

form.search input[type=text] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #417E77;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    width: 80%;
    background: #417E77;
}

form.search button {
    float: left;
    width: 15%;
    padding: 7px;
    background: #417E77;
    color: #A7D8D5;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #417E77;
    border-left: none;
    cursor: pointer;
}

form.search button:hover {
    background: #539e95;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    display: block;
    box-sizing: border-box;
    margin: 20px 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0 4px;
}

.column {
    -ms-flex: 20%;
    /* IE10 */
    flex: 20%;
    max-width: 15%;
    /* padding: 0 10px; */
    margin: 10px;
    /* background-color: rgb(219, 219, 219); */
    border-radius: 10px;
}

.column img {
    border-radius: 10px;
    vertical-align: middle;
    width: 100%;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1vw;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.login {
    display: flex;
    margin: 14px;
    position: fixed;
    right: -10px;
    top: -15px;
}

@media screen and (max-width: 1100px) {
    .login {
        max-width: 350px;
    }
}


@media screen and (max-width: 930px) {

    .nameitem {
        font-size: 15px;
    }

    .logo {
        justify-content: unset;
        padding: 0px 5px;
    }

    .logo img {
        width: 135px;
    }

    .column {
        max-width: 20%;
    }
}

@media screen and (max-width: 890px) {

    .nameitem {
        font-size: 12px;
    }

    .column {
        max-width: 25%;
    }
    .con_input input {
        width: 6cm;
    }
    .con_input textarea {
        width: 6cm;
    }
    .con_search input[type=text] {
        width: 8cm;
    }
}


@media screen and (max-width: 750px) {

    .nameitem {
        font-size: 10px;
    }
}

@media screen and (max-width: 660px) {

    .nameitem {
        font-size: 10px;
    }

    .column {
        max-width: 30%;
    }

    .con_input input {
        width: 5cm;
    }
    .con_input textarea {
        width: 5cm;
    }
    .con_search input[type=text] {
        width: 6cm;
    }
    .con_input button {
        margin: 0px 80px 15px;
    }
}

@media screen and (max-width: 530px) {

    .logo img {
        width: 1px;
        padding: 25px;
    }
    .con_input button {
        margin: 0px 30px 15px;
    }
    .con_search input[type=text] {
        width: 5cm;
    }
}